body {
  margin: 0;
  padding: 0;
  background: #eceef1;
  box-sizing: border-box;
}

header p {
  display: block;
  float: right;
  margin: auto 0 0 10px;
  padding-top: 10px;
  padding-left: 10px;
}

footer,
ul,
li,
a {
  color: grey;
  padding-right: 5px;
  text-decoration: none;
}

header a {
  color: #0077c5;
  text-decoration: none;
}

header button {
  color: white;
  float: right;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 20px;
  border-radius: 5px;
  border: 1px solid #4c4c4c;
  width: 90px;
  height: 40px;
  background: #0077c5;
}

form button {
  border: 1px solid #c1c5c8;
  height: 44px;
  width: 340px;
  min-width: 160px;
  margin-top: 30px;
  padding-left: 9px;
  padding-right: 6px;
  background: #0077c5;
  color: white;
  outline: none;
  font-size: 1.2em;
  -webkit-border-radius: 3px;
  border-radius: 4px;
  line-height: 1.3em;
}

header button:hover {
  background-color: green;
}

main {
  display: block;
  box-shadow: none;
  text-align: center;
  padding-top: 80px;
}

.end-page ul,
li {
  margin-left: 10px;
  padding-left: 10px;
  text-align: center;
  color: #505050;
}

.list1 ul li {
  display: inline;
  margin-left: -10px;
}

.footer-form span {
  color: #757575;
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
}

.list1 a span {
  margin-right: 10px;
  margin-top: 30px;
  padding-bottom: -20px;
  outline: none;
  text-align: center;
  box-sizing: border-box;
  font-size: 20px;
}

.list1 .intuit-text {
  display: inline-block;
  font-size: 20px;
  margin-top: -30px;
  text-align: center;
}

.list1 li img {
  position: relative;
  width: 25px;
  height: 25px;
  margin-top: 20px;
  background-image: none;
}

form {
  margin: auto;
  padding: 30px;
  overflow: visible;
  width: 350px;
  display: block;
  border: 1px solid #c7c7c7;
  border-radius: 2px;
  background: white;
  height: auto;
}

form h2 {
  color: darkgrey;
  font-weight: 400;
  line-height: 1.1;
  font-size: 24px;
  font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

form p {
  color: #4c4c4c;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.2;
}

form a {
  margin-top: -2px;
  color: #0077c5;
  font-size: 12px;
  text-decoration: none;
}

form label {
  display: block;
  text-align: left;
  padding-top: 10px;
  padding-left: 10px;
  font-weight: normal;
  color: #404040;
  font-size: 14px;
  line-height: 25px;
}

form input {
  border: 1px solid #c1c5c8;
  height: 34px;
  width: 320px;
  min-width: 160px;
  margin-top: -30px;
  padding-left: 9px;
  padding-right: 6px;
  color: #000;
  outline: none;
  font-size: 1.2em;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  line-height: 1.3em;
}

form button:hover {
  background-color: green;
}

footer {
  display: block;
  margin-top: 70px;
  padding: 0;
  outline: none;
}

footer p {
  margin-bottom: -20px;
  color: #757575;
  font-size: 12px;
  font-weight: normal;
}

.footer-form {
  margin-top: 25px;
}

.footer-form p {
  margin-top: 0;
  font-style: italic;
  font-size: 14px;
}

.footer-form a {
  margin: auto;
  text-align: left;
  color: blue;
  font-size: 14px;
}

.end-page p {
  margin-top: -17px;
}

.container .captcha p {
  box-sizing: border-box;
  margin-top: 70px;
  margin-left: -40px;
  margin-bottom: -30px;
  padding-top: 15px;
  padding-right: 30px;
  font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: grey;
  width: 480px;
  height: 40px;
  background-color: #eceef1;
}

.container .captcha a {
  height: 20px;
  outline: none;
  font-size: 10px;
  font-weight: normal;
  line-height: 1.5;
}

.end-page {
  margin-top: 3px;
}

.end-page ul {
  list-style-type: none;
  display: inline;
}
